body{
    display: flex;
    justify-content: center;
    background-color: #e5d8bd;
    min-height: 100vh;
    align-items: center;
    
}
.container{
    border: none;
    width: 400px;
    text-align: center;
    background:transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .2);
}
.header{
    font-weight: bold;
    font-size: 40px;
    margin-top: 20px;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}